body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

.container{
	margin-left: 5px;
	height: 70px;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list li{
  text-align: center;
}

#nav-list p:first-child{
  margin-top: 15px;
}

#nav-list p {
  padding-bottom:10px;
  margin: 0px 0px 0px 0px;
  border-bottom:solid;
  border-color:black;
  position:relative;
}

#collapsable-nav{
  margin-top: 20px;
}

#menu{
  margin-top:180px;
  text-align: center;
}

section{
  height: 1100px;
  margin: 25px;
  background-color: #fff;
  color: #557c3e;
  padding: 10px;
  text-align: justify;
}

#p1{
  text-align: center;
  font-size: 1.3em;
  margin-top: 20px;
  background-color: #fff;
  color: #557c3e;
  font-weight: bold;
}

